
ul.dm-top-links {
  background-color: #1F1F1F;
  height: 77px;
  color: #FFF;
  padding: 0px !important;
  margin: 0px !important;
}
.dm-top-links li {
  height: 55px;
  list-style: none outside none;
  padding: 10px !important;
  float: left;
}
.dm-top-links li.first a {
  background: url("images/create_task.png") no-repeat scroll 0 0 #1f1f1f;
  border: 1px solid;
  display: block;
  padding: 19px 17px 11px 80px;
  color: #FFFFFF !important;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.dm-top-links li.first {
  background-color: #171717;
}

.dm-annual-overview-row {
  border-top: 1px solid #D8D8D8;
  clear: both;
  float: left;
  margin: 0 1% 10px;
  padding: 0 0 10px;
  font-size: 1em;
  color: #D8D8D8;
  width: 100%;
}
.dm-annual-overview-row .views-field {
  float: left;
  padding: 5px 0;
}
.dm-annual-overview-row .views-field-name {
  font-size: 3em;
  margin-top: 25px;
}
.dm-annual-overview-row .views-field-description {
  float: right;
  margin-top: 20px;
  width: 100px;
}
.dm-annual-overview-row .views-field-description .field-content {
  float: right;
  color: #86B300;
}
.dm-annual-overview-row .views-field-tid-1 ul li {
  list-style: none;
}
.dm-task-cost {
  color: #86B300;
}
.dm-task-title a {
  color: #595959 !important;
}
span.dm-task-priority,
span.dm-task-status {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: block;
  float: left;
  margin: 5px 10px 0 0;
}
span.dm-task-status-1 {
  background: red;
}
span.dm-task-status-2 {
  background: yellow;
}
span.dm-task-status-3 {
  background: green;
}
.page-dm-annual-overview .view-filters {
  color: #595959;
}
.page-dm-annual-overview .view-filters input {
  color: #86B300;
}
.page-dm-annual-overview #edit-submit-tasks-annual-overview {
  background: url("images/apply.png") no-repeat scroll 0 0 transparent;
  border-radius: 0px;
  text-indent: -1000em;
  border: 0px;
  width: 28px;
  height: 27px;
  margin-top: -26px;
}
.page-dm-annual-overview .form-item-to-year {
  position: relative;
  top: -30px;
}
.pane-digital-maintenance-dm-expense .dm-expense-container {
  background-color: #aaca41;
  text-align: center;
  width: 257px;
  text-transform: uppercase;
  color: #FFF;
}
.pane-digital-maintenance-dm-expense .dm-graph-container {
  float: right;
  margin-right: 75px;
}
ul.dm-expense-data {
  margin: 0px 34px;
}
ul.dm-expense-data li {
  list-style: none;
  padding: 8px 0;
  border-bottom: 1px solid #87b200;
  line-height: 2em;
  white-space: nowrap;
}
.dm-expense-value {
  font-size: 2em;
  font-weight: bold;
}
.pane-digital-maintenance-dm-cost-overxyears .table thead th div.dm-loading {
  background: url("../images/loading-large.gif") no-repeat scroll 0 0 transparent;
  width: 24px;
  height: 24px;
}
.pane-digital-maintenance-dm-cost-overxyears .table thead th.dm-year-prev div.dm-apply {
  background: url("images/prev.png") no-repeat scroll 0 0 transparent;
  width: 30px;
  height: 37px;
}
.pane-digital-maintenance-dm-cost-overxyears .table thead th.dm-year-next div.dm-apply {
  background: url("images/next.png") no-repeat scroll 0 0 transparent;
  width: 30px;
  height: 37px;
}
.pane-digital-maintenance-dm-cost-overxyears .table thead th.dm-year-prev,
.pane-digital-maintenance-dm-cost-overxyears .table thead th.dm-year-next {
  cursor: pointer;
}
.pane-digital-maintenance-dm-cost-overxyears .table thead tr {
  background-color: #1F1F1F;
  color: #FFFFFF;
}

.pane-digital-maintenance-dm-cost-overxyears .table thead tr {
  background-color: #1F1F1F;
  color: #FFFFFF;
}

.pane-digital-maintenance-dm-cost-overxyears .table tr.dm-category-title td {
  background-color: #D1D1D1;
}

.pane-digital-maintenance-dm-cost-overxyears .table tr.dm-oxy-total-row td.dm-overalltotal,
.pane-digital-maintenance-dm-cost-overxyears .table tr td.dm-sum-task {
  background-color: #a9cf22;
  color: #FFF;
  text-align: center;
}
.pane-digital-maintenance-dm-cost-overxyears .table tr td.dm-sum-task-empty {
  background-color: #8aa91d;
}
.pane-digital-maintenance-dm-cost-overxyears .table tr.dm-oxy-total-row {
  border-top: 2px solid #999999;
  font-weight: bold;
}
.pane-digital-maintenance-dm-cost-overxyears .table tr.dm-oxy-total-row td{
  background-color: #f2f2f2;
  padding: 17px 0;
}
span.dm-task-priority-1 {
  background-color: #505050;
}
span.dm-task-priority-0 {
  background-color: #dfe1e0;
}


